*{
    margin: 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    height: 4rem;
    background-color: gold;
    align-items: center;
    column-gap: 16px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
}
.navitem{
    background-color: transparent;
    border: 0px;
    font-family: Impact;
    font-size: 24px;
}
.webcontent{
    height: 100%;
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 25px;
}
.image{
    width: 300px;
    border-radius: 10%;
}
.contenthead{
    font-family: 'Franklin Gothic Medium';
}
.choicebutton{
    background-color: burlywood;
    font-family: cursive;
    height: 50px;
    width: 150px;
    border-radius: 15cap;
    transition: cubic-bezier(0.19, 1, 0.22, 1);
    transition-duration: 300ms;
}
.footer{
    background-color: aqua;
    height: auto;
    width: 100%;
    padding: 7px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
.footitem{
    font-family: Impact;
    font-style: italic;
}